<div id="menus" class="container-fluid">

    <div id="heading" class="row bg-full">

        <img src="img/menuPlate2.jpg" class="img-responsive" alt="2&quot;he">

        <div style="text-align: center;" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row logo">


                <img id="menu-logo" src="img/Circadialogo.png" alt="">
                <div style="text-align: center; color: white;" class="img-responsive">
                    <b><p class="text-center lead module-subtitle"> CIRCADIA is a style of cooking, rather than a specific style of cuisine.</p></b>
                </div>
            </div>
        </div>

     
    </div>
</div>