<div class="logo row bg-full" style="text-align: center; margin-right: -30px; margin-top: 10%;">
    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
        <div class="menu-logo">
            <img style=" margin-left: -15px; margin-right: -15px; height: 25%;" id="menulogo" src="img/Circadialogo.png" alt=" ">
        </div>
    </div>
</div>
<div id="menuBar" class="row bg-full" style="margin-top: 20%; background-color: black; background-size: cover; position: relative; margin-right: -30px;">
    <div class="col-sm-12 col-md-12" style="text-align: center; margin-right: -15px; margin-left: -15px;">
        <!--
                <div style="text-align: center;" class="menuBar">-->
<div class="menuList">
        <h2 class="module-title">Menus</h2>
        <hr>

        <div>

            <a>
                <p class="btn" class="lead" ng-click="show = !show">Brunch</p>
            </a>
            <a>
                <p class="btn" class="lead" ng-click="show = !show">Lunch</p>
            </a>
            <a>
                <p class="btn" class="lead" ng-click="show = !show">Appetizers</p>
            </a>
            <a>
                <p class="btn" class="lead" ng-click="show = !show">Dinner</p>
            </a>
            <a>
                <p class="btn" class="lead" ng-click="show = !show">Wine</p>
            </a>
            <a>
                <p class="btn" class="lead" ng-click="show = !show">Cocktails</p>
            </a>

        </div>
        <hr>
        </div>

        <div class="row menuList2">
           <div style="padding-left: 0px;" class="col-xs-8 col-xs-offset-2">
            <hr>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Menus
                        <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                    <li role="presentation"><a role="menuitem" href="#brunch">Brunch</a></li>
                    <li role="presentation"><a role="menuitem" href="#lunch">Lunch</a></li>
                    <li role="presentation"><a role="menuitem" href="#appetizers">Appetizers</a></li>

                    <li role="presentation"><a role="menuitem" href="#Dinner">Dinner</a></li>
                    <li role="presentation"><a role="menuitem" href="#Wines">Wines</a></li>
                    <li role="presentation"><a role="menuitem" href="#Cocktails">Cocktails</a></li>
                </ul>
            </div>
            <hr>
            </div>
        </div>

    </div>

</div>





<div id="all-menus" class="module">

    <div class="container-fluid container-custom">
        <div id="menuContainer" class="module-brunch module-parallax module-full-height bg-dk-100">
            <!-- MODULE TITLE -->
            <div class="menues row">
                <div style="text-align: center;" class="col-sm-10 col-sm-offset-1">
                    <div class="menues-logo">
                        <img id="menueslogo" style="height: 15%; margin-top: 0%; margin-bottom: 5%;" src="img/Circadialogo.png" alt=" ">
                    </div>
            

                </div>
            </div>
        </div>

        <div class="row bg-full brunch-menu">
            <div class="col-xs-10 col-xs-offset-1 image-responsive">
                <img src="img/brunch.jpg" style="background: cover; width: 100%; position: relative; margin-bottom: 5%;" class="img-responsive"
                    alt="2&quot;he">

            </div>
        </div>
        <div style="color: lightgrey; text-align: center; margin-top: 0px; padding-top: 0px;" class="disclaimer">
            <p>* These menus are a representation of our daily menus. Items are subject to availability.</p>
        </div>
    </div>
</div>