   
body, html{
overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
     font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 12px;
    -ms-overflow-style: scrollbar;
}



/*.menu{
    text-align: center;
}
  .logo img{
    
      position: relative;
      height: 20%;
      margin-top: 15px;
      margin-bottom: 20px;
  }*/


.menuList p{
    color: lightgrey;

}
.menuList2 p{
    color: lightgrey;
}

.menuList2{
   display: none;
}

@media only screen and (max-width: 500px){ 
   .menuList{
     display: none;
   }

   .menuList2{
     display: block;
   }
}
.menuList{
  
 }
  .menuList2{

 }
#menuBar{
   
    position: absolute;
    top: 50%;
    left: 1%;

}

 #menuBar p{
padding-bottom: 1%;
font-size: 1.5vw;
padding-left: 1.5vw;
padding-right: 1.5vw;
     }
     #menuBar h2{padding-top: 3%;
         color: #b4a755;
     }
